* {
  font-family: "Inter", sans-serif;
}
.page {
  background: #2a2c2f;
  color: #fff;
  position: relative;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
}
.section {
  width: 100%;
  padding: 0 16px;
  text-align: center;
}
.header {
  margin-bottom: 48px;
}
.header__section {
  padding-top: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__lang-block {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.1;
}
.header__lang {
  color: #fff;
  text-decoration: none;
}
.header__lang {
  padding-right: 16px;
}
.header__lang:last-child{
  padding-right: 0;
}
.header__lang_active {
  text-decoration: underline;
}

.section-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
}
.section-subtitle {
  font-size: 16px;
  line-height: 1.5;
}
.lead__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__section-title {
  margin-bottom: 14px;
}
.lead__section-subtitle {
  margin-bottom: 32px;
  width: 80%;
}
.image-container img {
  max-width: 100%;
}
.lead__image {
  margin: 0 -16px 8px;
}

.lead__caption {
  text-transform: uppercase;
  align-self: flex-start;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
}