* {
  font-family: "Inter", sans-serif;
}
.page {
  background: #2a2c2f;
  color: #fff;
  position: relative;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
}
.section {
  width: 100%;
  padding: 0 16px;
}
.header {
  margin-bottom: 48px;
}
.header__section {
  padding-top: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__lang-block {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.1;
}
.header__lang {
  color: #fff;
  text-decoration: none;
}
.header__lang-block .header__lang-block_active {
  padding-right: 16px;
  text-decoration: underline;
}


.lead__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__title {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 14px;
}
.lead__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.image-container img {
  max-width: 100%;
}
.lead__image {
  width: 100%;
  position: relative;
  margin: 8px -16px 0;
}

.lead__caption {
  text-transform: uppercase;
  align-self: flex-start;
  font-size: 10px;
  line-height: 1.1;
  letter-spacing: 0.15em;
}
